.cart-centered {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cart-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart-flexlayout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cart-pedido {
    margin: 5%;
}

@media screen and (max-width: 760px) {
    .cart-centered {
        flex-direction: column;
    }
}
