.cart-centered {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.cart-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart-flexlayout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
