.button-position {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.item-name {
    display: flex;
    justify-content: center;
}
.card-area {
    padding: 0;
}

.item-price {
    display: flex;
    justify-content: center;
}
