#root {
    height: 70%;
    width: 100%;
}
.login-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
}

.login-container > * {
    padding: 2%;
}

.login-center {
    width: 100%;
}

.btn {
    margin-top: 10%;
}
